{% extends 'layout.html' %}
{% block body%}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">OAuth in Action: <span class="label label-danger">OAuth Authorization
          Server</span></a>
    </div>
  </div>
</nav>

<div class="container">

  <div class="jumbotron">

    <div class="alert alert-danger" role="alert">This is the shell for the <strong>OAuth Authorization
        Server</strong>. This provides no actual functionality.</div>

    <h2>Client information:</h2>
    {% for client in clients %}
    <ul>
      <li><b>client_id:</b> <code>{{ client.client_id }}</code></li>
      <li><b>client_secret:</b> <code>{{ client.client_secret }}</code></li>
      <li><b>scope:</b> <code>{{ client.scope }}</code></li>
      <li><b>redirect_uri:</b>
        <code>{% if client.redirect_uris %} {% for uri in client.redirect_uris %} {{ uri }} {% endfor %} {% endif %}</code>
      </li>
    </ul>
    {% endfor %}
    <h2>Server information:</h2>
    <ul>
      <li><b>authorization_endpoint:</b> <code>{{ auth_server.authorization_endpoint }}</code></li>
      <li><b>token_endpoint:</b> <code>{{ auth_server.token_endpoint }}</code></li>
    </ul>
  </div>

</div><!-- /.container -->

{% endblock %}