{% extends 'layout.html' %}
{% block body%}


<div class="jumbotron">
  <p>Scope value: <span class="label label-danger">
      {% if scope %} {{ scope }} {% else %} NONE {% endif %}
    </span></p>
  <p>Access token value: <span class="label label-danger">
      {% if access_token %} {{ access_token }} {% else %} NONE {% endif %}
    </span></p>
  <a class="btn btn-default" href="/authorize">Get OAuth Token</a>
  <a class="btn btn-default" href="/fetch_resource">Get Protected Resource</a>
</div>
<div class="jumbotron">
  <h2>Data from protected resource:</h2>
  <pre><span class="oauth-protected-resource"></span></pre>
</div>
{% endblock %}