<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.9.0/brython.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.9.0/brython_stdlib.js"></script>
<script type="text/python">
    from browser import ajax, document, local_storage, window
    import random

    callback_data = ''
    client = {
        'client_id': 'oauth-client-1',
        'redirect_uris': ['http://localhost:5000/callback'],
        'scope': 'foo bar'
    }
    auth_server = {
        'authorization_endpoint': 'http://localhost:5001/authorize'
    }
    protected_resource = 'http://localhost:5002/resource'
    local_storage = local_storage.storage

    def generateState(len):
        ret = ''
        possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'

        for i in range(len):
            ret += random.choice(possible)

        return ret
    
    def handleAuthorizationRequestClick(e):
        state = generateState(32)
        local_storage['oauth-state'] = state
        window.location.href = f"{auth_server['authorization_endpoint']}"\
            "?response_type=token"\
            f"&state={state}"\
            f"&scope={client['scope']}"\
            f"&client_id={client['client_id']}"\
            f"&redirect_uri={client['redirect_uris'][0]}"

    def handleFetchResourceClick(e):
        if callback_data:
            print(f"callback_data['access_token']: {callback_data['access_token']}")
            request = ajax.ajax()
            request.open('POST', protected_resource, True)
            request.set_header('Authorization', f"Bearer {callback_data['access_token']}")
            request.bind('complete', on_complete)
            request.send()
    
    def on_complete(request):
        if request.status == 200:
            document.select('.oauth-protected-resource')[0].textContent = request.text
        else:
            document.select('.oauth-protected-resource')[0].textContent = "Error while fetching the protected resource"

    def processCallback():
        hash = window.location.hash[1:]
        whitelist = ['access_token', 'state', 'scope']
        global callback_data
        callback_data = {}
        split_hash = hash.split('&')

        for item in split_hash:
            p = item.split('=')
            if p[0] in whitelist:
                callback_data[p[0]] = p[1]

        if callback_data['state'] is not local_storage['oauth-state']:
            print(f"State DOES NOT MATCH: expected {local_storage['oauth-state']} got {callback_data['state']}")
            callback_data = ''
            document.select('.oauth-protected-resource')[0].textContent = "Error state value did not match"
            document.select('.oauth-access-token')[0].textContent = 'NONE'
            document.select('.oauth-scope-value')[0].textContent = 'NONE'
        else:
            document.select('.oauth-access-token')[0].textContent = callback_data['access_token']
            document.select('.oauth-scope-value')[0].textContent = callback_data['scope'].replace('%20', ' ')
            print(f"access_token: {callback_data['access_token']}")

    document.select('.oauth-authorize')[0].bind('click', handleAuthorizationRequestClick)
    document.select('.oauth-fetch-resource')[0].bind('click', handleFetchResourceClick)

    if window.location.hash:
        processCallback()

</script>