{% extends 'layout.html' %}
{% block body%}


<div class="jumbotron">

    <h2>Favorites API</h2>

    <p>Resource owner's name: {{data.user}}

    <p>Movies:</p>
    <ul>
        {% for movie in data.favorites.movies %}
        <li>{{movie}}</li>
        {% endfor %}
    </ul>
    <p>Foods:</p>
    <ul>
        {% for food in data.favorites.foods %}
        <li>{{food}}</li>
        {% endfor %}
    </ul>
    <p>Music:</p>
    <ul>
        {% for fav in data.favorites.music %}
        <li>{{fav}}</li>
        {% endfor %}
    </ul>

    <a href="/favorites" class="btn btn-default">Get Favorites</a>

</div>

{% endblock %}