{% extends 'layout.html' %}
{% block body%}


<div class="jumbotron">
  <p>Access token value: <span class="label label-danger">
      {% if access_token %} {{ access_token }} {% else %} NONE {% endif %}
    </span></p>
  <p>Scope value: <span class="label label-danger">
      {% if scope %} {{ scope }} {% else %} NONE {% endif %}
    </span></p>
  <p>Refresh token value: <span class="label label-danger">
      {% if refresh_token %} {{ refresh_token }} {% else %} NONE {% endif %}
    </span></p>
  <a class="btn btn-default" href="/authorize">Get OAuth Token</a>
  <a class="btn btn-default" href="/refresh">Refresh Access Token</a>
  <a class="btn btn-default" href="/fetch_resource">Get Protected Resource</a>
</div>

{% endblock %}